@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(222,193,242);
    background: linear-gradient(90deg, rgba(222,193,242,1) 0%, rgba(190,244,233,1) 30%, rgba(255,212,192,1) 100%);
    font-family: Georgia;
}